body {
    height: 100vh;
}

main {
    height: 95vh;
}

/* add some styles for your cool navbar !*/
nav {
    height: 15vh;
    background-color: brown;
}

header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 5vh;
    background-color: black;
}